/*================== HandPhone */
@media screen and (max-width:767px){
    /* Navbar */
    header .name-author h1{
    display: none;
    }
    label #open{
        display:block;
    }
    nav ul{
        display:flex;
        flex-direction:column;
        position: fixed;
        width: 100%;
        height:100vh;
        top: 80px;
        margin-right: 0;
        right: -100%;
        background-color: transparent;
        text-align: center;
        transition: .5s;
    }
    ul li{
        display:block;
        line-height:10px;
    }
    #check:checked ~ ul{
        right: 0;
    }
    #check:checked ~ label #open{
        display: none;
    }
    #check:checked ~ label #close{
        display: block;
    }
    /* Home */
    .home .social-media{
        left:0%;
        top: 60%;
        width:50px;
        height:200px;
    }
    .home .social-media span {
        font-size: 25px;
    }
    .home .social-media span a {
        height:30px;
        width:30px;
    }
    .home .garis h1 {
        position: absolute;
        font-family: 'Ink Free';
        font-size: 30px;
        color: var(--gold);
        top: 47.5%;
    }
    .home .garis h3 {
        font-family: 'Ink Free';
        position: absolute;
        font-size: 25px;
        color:var(--gold);
        text-align: center;
        padding-top: 7px;
        top: 44%;
        left: 57%;
    }
    .garis .garis-miring{
        position:absolute;
        transform:rotate(-55deg);
        border:3px solid var(--gold);
        width:180%;
        top: 50%;
        left: -40%;
        }
    .garis .garis-horizontal{
        position: absolute;
        border:3px solid var(--gold);
        width:120%;
        top: 50%;
    }
    /* About */
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        flex-wrap: center;
        padding: .5rem;
    }
    .about-left {
        color: white;
        text-align: center;
    }
    .about-left p {
        font-size: 15px;
        padding-top: 2px;
    }
    .about-left .skill-bars{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .skill-bars .bar{
        margin:  15px;
    }
    .about-right .profil {
        width: 160px;
        height: 200px;
    }
    
    .profil:hover .img-text{
        transform:translate(-0%, 40%);
    }
    .img-text h2{
        font-size: 15px;
    }
    .img-text p{
        font-size: 12px;
    }
    .img-text a{
        width:20px;
        height:20px;
        margin: 0 3px;
    }
    
    .img-text a i {
        color: #fff;
        padding:5px;
    }

    /* Experience */
    .ex-left {
        display:none;
    }
    .ex-right{
        display: flex;
        flex-direction: column;
    }
    /* .tab-office .tab-list{
        overflow-x:auto;
    } */
    .tab-list::-webkit-scrolbar{
        width: 0;
    }
    .tab-list button{
      max-width:100px;
    }
}

  /*=================== Tablet */
@media screen and (min-width: 767px) and (max-width:1023px) {
    /* Navbar */
    header .name-author h1{
        font-size: 25px;
    }
    label #open{
        display:block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        top: 80px;
        height:60px;
        right: -100%;
        background-color: transparent;
        text-align: center;
        transition: 0.5s;
    }
    ul li{
        display:block;
        line-height:10px;
        margin-inline: 15px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ label #open{
        display: none;
    }
    #check:checked ~ label #close{
        display: block;
    }
    
    /* Home */
    .home .social-media{
        left:62%;
        top: 56%;
    }
    .home .garis h1 {
        font-size: 50px;
        top: 46%;
    }
    .home .garis h3 {
        font-size: 25px;
        top: 48.8%;
        left: 55%;
    }
    .garis .garis-miring{
        position:absolute;
        transform:rotate(-45deg);
        border:3px solid var(--gold);
        width:150%;
        top: 48%;
        left: -24%;
    }
    .garis .garis-horizontal{
        position: absolute;
        border:3px solid var(--gold);
        width:120%;
        top: 50%;
    }

    /* About */
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        flex-wrap: center;
    }
    .about-left {
        text-align: center;
        color: white;
        padding-bottom: 3rem;
    }
    .about-left .skill-bars{
        padding: 3rem 0;
    }

    .experience{
        margin: 5rem;
    }
    .ex-left {
        display:none;
    }
}

/*============== PC */
@media screen and (min-width:1024px){
    /* Navbar */

    /* About */
    .about{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        flex-wrap: center;
    }
    .about-left {
        color: white;
    }
    .about-left .skill-bars{
        padding: 3rem 0;
    }
    
}
